.left-col {
    border: 2px solid black;
    background-color: darkolivegreen;
    overflow: scroll;
}
.right-col {
    border: 2px solid black;
    background-color: darkgrey;
}

#note-name {
    border: 2px double black;
    background-color: antiquewhite;
    padding-bottom: 25%;
}

#note-text {
    border: 2px double black;
    background-color: antiquewhite;
    padding-bottom: 75%;
}

#save-btn {
    border: 2px double black;
    background-color: black;
    color: white;
}

button:hover {
    background-color:aquamarine;
    color:black;
}

.card {
    background-color: white;
    color: darkblue;
}

.card h4 {
    color: black;
}

.page-link {
    border: 2px solid orange;
    padding: 2px;
    background-color: aliceblue;
}

header {
    background-color:darkcyan;
}

.container {
    column-count: 2;
}

h1 {
    font-size: 50px;
}